@(transactions: List[Transaction])

<html>
    <body>
        <table>
            <tr bgcolor="#5f9ea0">
                <th>Id</th>
                <th>Date</th>
                <th>Recipient</th>
                <th>Transaction</th>
                <th>Balance</th>
                <th>Status</th>
            </tr>
        @for(t <- transactions){
            <tr @if(t.transaction<0){bgcolor="#e9967a"}else{bgcolor="#7fffd4"}>
                <th>@t.id</th>
                <th>@t.getDateFormat</th>
                <th>@t.recipient</th>
                <th>@t.transaction</th>
                <th>@t.lostBalance</th>
                <th>@t.status</th>
            </tr>
        }
        </table>
        <form action="/"><input type="submit" value="Back"/></form>
    </body>
</html>
